.navbar {
    background-color: rgb(43, 43, 49);
    color: #ffffff;
}

.uvLow {
    background-color: rgb(96, 221, 96);
    padding: 6px;
    color: #ffffff;
    font-weight: bold;
}

.uvModerate {
    background-color: rgb(252, 228, 17);
    padding: 6px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 6px;
}

.uvHigh {
    background-color: brown;
    padding: 6px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 6px;
    border-radius: 6px;
}

.uvVeryHigh {
    background-color: rgb(243, 22, 22);
    padding: 6px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 6px;
}

.uvExtreme {
    background-color: rgb(204, 111, 204);
    padding: 6px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 6px;
}

.floatright {
    float: right;

}

#cityHeading {
    padding-top: 15px;
}

#search-label {
    font-weight: bold;
}

